<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Highcharts Example</title>
	  <link rel="stylesheet" media="screen" href="/static/css/bootstrap.min.css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/consumer_onload.js"></script>
	<script type="text/javascript" src="/static/js/consumer_CPU_1wk.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>
        
    </head>
    <body>
	<div class="container">
	<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="selection">24 hrs</span><span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">24hrs</a></li>
    <li><a href="#" id="1wk">1 weak</a></li>
    <li><a href="#">1 month</a></li>
  </ul>
</div>
    </div>

        
	<div id="CPU_Utilization" style="width: 100%; height: 400px; margin: 0 auto; border: double"></div>
	<script>
	   
	</script>
     
	  <script src="/static/js/bootstrap.min.js"></script>
</body>
   
</html>