<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SpartanWare Dashboard provide a monitoring solution for cloud consumption data.">
    <meta name="keywords" content="SpartanWare Dashboard, Dashboard,Cloud Monitoring,SpartanWare, CPU Utilization, Memory Consumption, Disk Utilization"/>

    <title>SpartanWare Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
     <link href="/static/css/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
       <script src="http://code.highcharts.com/highcharts.js"></script>
       <script src="http://code.highcharts.com/modules/exporting.js"></script>
	<script type="text/javascript" src="/static/js/consumer_onload.js"></script>
	<script type="text/javascript" src="/static/js/consumer_1wk.js"></script>
	<script type="text/javascript" src="/static/js/consumer_24hrs.js"></script>
       
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	
    <![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/SpartanWareLogo.JPG">

</head>



<body>
    <div id="wrapper">

        <!-- Navigation -->
       <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="/static/images/SpartanWareLogo.JPG" style="height:150%; width:90%" alt="SpartanWare" title="SpartanWare" /></a>
            </div>
	    <ul class="nav navbar-top-links navbar-right">
                <li><span style= "font:10pt Trebuchet MS, Verdana, sans-serif ; color:#787878  "><strong>Welcome John !! </strong>  |</span></li>
                 
                  <li><a href="/index"><span style= "font:10pt Trebuchet MS, Verdana, sans-serif">Logout</span></a> </li>
	    </ul>
                
                
          

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a class="active" href="consumer_Consumption.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/cpu_pagination"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>
			 <li>
                            <a href="#"><i class="fa fa-info fa-fw"></i> Help</a>
                        </li>
                    </ul>
                </div><!-- /.sidebar-collapse -->
            </div><!-- /.navbar-static-side -->
        </nav><!--nav bar-->

	
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style="color:#909090">Dashboard</h1>
                </div><!-- /.col-lg-12 -->
            </div><!--row-->
            
          
            
            
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <!--<i class="fa fa-comments fa-5x"></i>-->
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="small">65%</div>
                                    <div>CPU Utilization</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right">
				 <i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                
                
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <!--<i class="fa fa-tasks fa-5x">--></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="small">850 GB</div>
                                    <div>Disk Consumption</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right">
				 <i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <!--<i class="fa fa-shopping-cart fa-5x"></i>-->
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="small">10 GB</div>
                                    <div>Memory Consumption</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right">
				 <i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                
            </div>
            
            <br>
            
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> CPU Utilization
                            <div class="pull-right">
                                <div class="btn-group">
				<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
				    <span class="selection" style= "font:9pt Trebuchet MS, Verdana, sans-serif">24 hrs </span><span class="caret"></span>
				</button>
				
				<ul class="dropdown-menu pull-right" role="menu">
				    <li><a href="#" id="CPU_24hrs"><span style= "font:9pt Trebuchet MS, Verdana, sans-serif">24 hrs </span></a></li>
				    <li><a href="#" id="CPU_1wk"><span style= "font:9pt Trebuchet MS, Verdana, sans-serif">1 week </span></a></li>
				    <li><a href="#"><span style= "font:9pt Trebuchet MS, Verdana, sans-serif">1 month </span></a></li>
				     <li><a href="#"><span style= "font:9pt Trebuchet MS, Verdana, sans-serif">6 months </span></a></li>
				      <li role="presentation" class="divider"></li>
				     <li><a href="#"><span style= "font:9pt Trebuchet MS, Verdana, sans-serif">1 year </span></a></li>
				    
				</ul>
				</div><!--btn-group-->
                            </div><!--pull-right-->
                        </div><!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="CPU_Utilization"></div>
                        </div><!--panel-body-->
                        
                    </div><!--panel default-->
                    
                    </div><!--col-lg-->
                    
                    
        </div><!--row-->
        
        
       <br>
       <br>
       <br>
        
        <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Disk Utilization
                            <div class="pull-right">
                                <div class="btn-group">
				<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
				    <span class="selection" style= "font:9pt Trebuchet MS, Verdana, sans-serif">24 hrs </span><span class="caret"></span>
				</button>
				
				<ul class="dropdown-menu pull-right" role="menu">
				    <li><a href="#" id="Disk_24hrs"><span style= "font:9pt Trebuchet MS, Verdana, sans-serif">24 hrs </span></a></li>
				    <li><a href="#" id="Disk_1wk"><span style= "font:9pt Trebuchet MS, Verdana, sans-serif">1 week </span></a></li>
				    <li><a href="#"><span style= "font:9pt Trebuchet MS, Verdana, sans-serif">1 month </span></a></li>
				     <li><a href="#"><span style= "font:9pt Trebuchet MS, Verdana, sans-serif">6 months </span></a></li>
				    <li role="presentation" class="divider"></li>
				     <li><a href="#"><span style= "font:9pt Trebuchet MS, Verdana, sans-serif">1 year </span></a></li>
				    
				</ul>
				</div><!--btn-group-->
                            </div><!--pull-right-->
                        </div><!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="Disk_Utilization"></div>
                        </div><!--panel-body-->
                        
                    </div><!--panel default-->
                    
                    </div><!--col-lg-->
		    
		    
		    <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Memory Consumption
                            <div class="pull-right">
                                 <div class="btn-group">
				<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
				    <span class="selection" style= "font:9pt Trebuchet MS, Verdana, sans-serif  ">24 hrs </span><span class="caret"></span>
				</button>
				
				<ul class="dropdown-menu pull-right" role="menu" style=>
				    <li><a href="#" id="Memory_24hrs"><span style= "font:9pt Trebuchet MS, Verdana, sans-serif">24 hrs</span> </a></li>
				    <li><a href="#" id="Memory_1wk"><span style= "font:9pt Trebuchet MS, Verdana, sans-serif  ">1 week</span> </a></li>
				    <li><a href="#"><span style= "font:9pt Trebuchet MS, Verdana, sans-serif  ">1 month </span></a></li>
				     <li><a href="#"><span style= "font:9pt Trebuchet MS, Verdana, sans-serif  ">6 months </span></a></li>
				      <li role="presentation" class="divider"></li>
				     <li><a href="#"><span style= "font:9pt Trebuchet MS, Verdana, sans-serif  ">1 year </span></a></li>
				    
				</ul>
				</div><!--btn-group-->
                            </div><!--pull-right-->
                        </div><!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="Memory_Consumption"></div>
                        </div><!--panel-body-->
                        
                    </div><!--panel default-->
                    
                    </div><!--col-lg-->
                    
                    
            </div><!--row-->
        </div> <!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    <!-- jQuery -->
    <!--<script src="/static/js/jquery.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/js/plugins/metisMenu/metisMenu.min.js"></script>

   
    <!-- Custom Theme JavaScript -->
    <script src="/static/js/sb-admin-2.js"></script>
</body>
</html>
